<div class=" Weather">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>{{city}},{{country}}</h1>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h5>{{datee}}</h5>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 col-6 d-flex justify-content-center">
                    <img class="rowimage img-fluid" src="assets\cloud.png ">
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-6">
                    <h1 class="font">{{CW}}</h1><br>
                    <h4 class="sunny">Mostly Sunny</h4>
                </div>
            </div>
        </div>
        <div class="borderCss  col-md-6 col-sm-6 col-xs-12 ">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 col-4 ">
                    <h3 class="deg">{{pressure}}</h3><br>
                    <h4 class="des">Pressure</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <h3 class="deg">{{windspeed}}</h3><br>
                    <h4 class="des">Wind Speed</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <h3 class="deg">{{humidity}}</h3><br>
                    <h4 class="des">Humidity</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <h3 class="deg">{{feelslike}}</h3><br>
                    <h4 class="des">Feels Like</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <h3 class="deg">{{CW}}</h3><br>
                    <h4 class="des">Temperature</h4>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-4">
                    <h3 class="deg">20:57</h3><br>
                    <h4 class="des">Sunset</h4>
                </div>
            </div>
        </div>

    </div>
    <h2>Today's Weather</h2>
    <div class="row bottommargin">
        <!-- <owl-carousel-o [options]="customOptions"> -->
        <owl-carousel [options]="{items: 3, dots: true, nav: true,navText:[&#x27;Prev&#x27;,&#x27;Next&#x27;]}"
            [items]="hourlyWeatherForcity" [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="col-md-2 col-sm-2 col-xs-12 col-4" *ngFor="let hourly of hourlyWeatherForcity">
            <!-- <ng-template carouselSlide> -->
            <mat-card class="cardsize">
                <div>
                    <h4 class="cardtime">{{hourly.dt|date:'shortTime'}}</h4>
                </div>
                <div>
                    <img class="images" src="assets\cloud.png">
                </div>
                <div>
                    <h4 class="cardtime">{{hourly.temp}}</h4>
                </div>
            </mat-card>
        <!-- </ng-template> -->
        </div>
    </owl-carousel>
    <!-- </owl-carousel-o> -->
    </div>
</div>