button{
    margin-right: 25em;
}

h2 {
    margin-left: 165px;
}

label{
    font-weight: 500;
    padding-left: 0px;
    text-align: end;
    width: 30%;
    font-size: 25px;
}

input{
    
      text-align: center;
      font-size: 20px;
      /* border-radius: 25px; */
    /* border: 2px solid orange; */
    padding: 20px; 
    height: 15px;  
  }

form {
    text-align: center;
    margin-top: 8em;
    margin-left: 30em;
}