        .cities {
            background-color: blue;
            background-image: linear-gradient(blue, #4775d1);
            min-height: 100%;
            height: auto;
            max-height: auto;
            overflow-x: hidden;
        }
        /* .centerpressure{
    text-align: center;
    padding-left: 350px;
} */
        
        mat-card.mat-card {
            background-color: #24478f;
        }
        
        h2,
        h5,
        h4,
        h3 {
            color: white;
        }
        
        .deg,
        .des {
            text-align: center;
        }
        
        @media only screen and (max-width: 600px) {
            .cities {
                background-color: blue;
                background-image: linear-gradient(blue, #4775d1);
                min-height: 100%;
                height: auto;
                max-height: auto;
                overflow-x: hidden;
            }
            mat-card.mat-card {
                background-color: #24478f;
            }
            h2,
            h5,
            h4 {
                color: white;
            }
            h4.deg,
            h5.des {
                text-align: left;
                font-size: 15px;
            }
            h3.deg,
            h3.des {
                color: white;
                text-align: center;
                font-size: 15px;
            }
        }